
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>EyeMyEye</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 640px; margin: 0 auto; font-family: Helvetica, sans-serif; border: 1px solid #ccc; border-radius: 10px; overflow: hidden;">
        <tr>
            <td style="border-bottom: 1px solid #ccc;  background: #c5e0ff; padding:20px;">
                <a href="https://pos.niraginfotech.info/" title="EyeMyEye Logo" style="display: block; text-align: center;"> <img src="https://cdn.eyemyeye.com/shared/images/logo/eyemyeye-logo.png" alt="EyeMyEyePos" width="200px" /> </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p style="font-size: 15px; color: #282c3f;font-weight: 800;"> Subject :- Reminder for upcoming Appointment </p>
                <p style="font-size: 14px; color: #282c3f;"> Dear {{user_name}}, </p>
                <p style="font-size: 14px; color: #282c3f;">A friendly reminder that your scheduled online appointment is just around the corner and will start shortly.</p>
                <p style="font-size: 14px; color: #282c3f;">Date:{{appointment_date}}</p>
                <p style="font-size: 14px; color: #282c3f;">Time:{{appointment_time}}</p>
                <p style="font-size: 14px; color: #282c3f;">Please ensure you are prepared and have a stable internet</p>
                <p style="font-size: 14px; color: #282c3f;">connection and any required materials ready.</p>
                <p style="font-size: 14px; color: #282c3f;">If you have any last-minute questions or</p>
                <p style="font-size: 14px; color: #282c3f;">need assistance, don't hesitate to</p>
                <p style="font-size: 14px; color: #282c3f;">contact us at 97979-97979.</p>
                <p style="font-size: 14px; color: #282c3f;margin: 0; font-weight: 800;">Thank You,</p>
                <p style="font-size: 14px; color: #282c3f;margin: 0; font-weight: 800;">Team EyeMyEye.</p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #333232; padding:15px 20px;">
                <p style="color: #fff; font-size: 12px; text-align: center; margin: 0;">Copyright © 2023. All Rights Reserved</p>
            </td>
        </tr>
    </table>
</body>
</html>