<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>EyeMyEye</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 640px; margin: 0 auto; font-family: Helvetica, sans-serif; border: 1px solid #ccc; border-radius: 10px; overflow: hidden;">
        <tr>
            <td style="border-bottom: 1px solid #ccc;  background: #c5e0ff; padding:20px;">
                <a href="https://pos.niraginfotech.info/" title="EyeMyEye Logo" style="display: block; text-align: center;"> <img src="https://cdn.eyemyeye.com/shared/images/logo/eyemyeye-logo.png" alt="EyeMyEyePos" width="200px" /> </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p style="font-size: 15px; color: #282c3f;font-weight: 800;"> Subject :- Your Prescription  {{doctor_name}} </p>
                <p style="font-size: 14px; color: #282c3f;"> Dear {{patient_name}}, </p>
                <p style="font-size: 14px; color: #282c3f;">Thank you for connecting with us for your eye check-up tele/video consultation.</p>
                <p style="font-size: 14px; color: #282c3f;">Your prescription or Doctor’s / Optometrist’s Note is as below. </p>
                
                <p style="font-size: 14px; color: #282c3f;">{{prescription_details}}</p>
                <p style="font-size: 14px; color: #282c3f;">If you have any questions or need further clarification, please don't hesitate to reach out.</p>

                <p style="font-size: 14px; color: #282c3f;margin: 0; font-weight: 800;">Best regards,</p>
                <p style="font-size: 14px; color: #282c3f;margin: 0; font-weight: 800;">Team EyeMyEye.</p>
                <p style="font-size: 14px; color: #282c3f;margin: 0; font-weight: 800;">Contact Us : 08069051111</p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #333232; padding:15px 20px;">
                <p style="color: #fff; font-size: 12px; text-align: center; margin: 0;">Copyright © 2023. All Rights Reserved</p>
            </td>
        </tr>
    </table>
</body>
</html>